<h2>User <%= user.id %></h2>
<div id="<%= dom_id user %>">
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% user.class.declared_fields.each do |field| %>
        <tr>
          <td><strong><%= field.name.humanize %>:</strong></td>
          <td><%= user.send(field.name) if user.respond_to?(field.name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
