<h2>Company <%= company.id %></h2>
<div id="<%= dom_id company %>">
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% company.class.declared_fields.each do |field| %>
        <tr>
          <td><strong><%= field.name.humanize %>:</strong></td>
          <td><%= company.send(field.name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
