<h2>Company <%= company.id %></h2>
<div id="<%= dom_id company %>">
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% company.attributes.each do |attr_name, attr_value| %>
        <tr>
          <td><strong><%= attr_name.humanize %>:</strong></td>
          <td><%= attr_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
