<h1>Editing company <%= @company.id %></h1>

<%= render "form", model: @company %>

<br>

<div>
  <%= link_to "Show this company", @company %> |
  <%= link_to "Back to companies", companies_path %>
</div>
